:root{
    --vermelho: rgba(252, 0, 0, 0.5); 
    --preto: rgb(0, 0, 0); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
}


header .container{

}